<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c733001182.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title> Template 4 </title>
</head>

<body>
    <div class="main">
        <div class="box-main"> <i class="fas fa-play"></i> </div>
        <div class="description">
            <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit odit delectus suscipit commodi
                dignissimos
                ipsum reiciendis officia? Inventore aspernatur consectetur maxime illum, asperiores eaque iure odit
                exercitationem praesentium explicabo fugit nisi dignissimos id at! Mollitia, eligendi quasi. Quasi,
                illum
                deleniti? Atque enim minus autem voluptas hic quas quod. Ea incidunt nemo quo itaque facere sed
                veritatis, veniam vero.</p>
        </div>
    </div>

    <div class="side-box">
        
        <div class="box-example">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae et corporis ullam, quas ducimus quos. </p>
        </div>
        <div class="box-description"> </div>

        <div class="box-example">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae et corporis ullam, quas ducimus quos. </p>
        </div>
        <div class="box-description"> </div>

        <div class="box-example">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae et corporis ullam, quas ducimus quos. </p>
        </div>
        <div class="box-description"> </div>

        <div class="box-example">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae et corporis ullam, quas ducimus quos. </p>
        </div>
        <div class="box-description"> </div>

        <div class="box-example">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae et corporis ullam, quas ducimus quos. </p>
        </div>
        <div class="box-description"> </div>
        
    </div>

</body>

</html>