<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Template 8 </title>
</head>

<body>
    <div class="main">
        <div class="box-main"> </div>
        <div class="info-main">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, adipisci?</p>
        </div>
        <div class="side-box">
            <div class="box"> </div>
            <div class="box"> </div>
            <div class="box"> </div>
            <div class="box"> </div>
        </div>
    </div>

    <div class="content">
        <div class="title">
            <h1> Lorem ipsum dolor sit amet consectetur </h1>
            <h2> Lorem ipsum dolor sit </h2>
        </div>

        <div class="description">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, vel fugiat? Laborum eveniet officiis
                sunt pariatur accusantium voluptatem maiores provident facere, maxime cumque minus suscipit reiciendis,
                praesentium est eum inventore Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eum, sed.</p>
        </div>

        <div class="side-box-content">
            <div class="box-content"> </div>
            <div class="box-content"> </div>
            <div class="box-content"> </div>
            <div class="box-content"> </div>
        </div>

        <div class="description-rodape">
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam, vel fugiat? Laborum eveniet officiis
                sunt pariatur accusantium voluptatem maiores provident facere, maxime cumque minus suscipit reiciendis,
                praesentium. </p>
        </div>

    </div>

</body>

</html>