<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Template 9 </title>
</head>

<body>
    <div class="content">
        <div class="box-main"> </div>

        <div class="description">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos modi eius placeat, nulla corrupti
                magnam voluptate porro nisi minus iusto quia dolorum eum repellat nihil temporibus ea dicta fuga
                possimus cupiditate earum provident expedita maiores quaerat non. Ad, quaerat fugiat voluptatem eligendi
                itaque inventore unde velit laboriosam repudiandae rem delectus.Ad, quaerat fugiat voluptatem eligendi
                itaque inventore unde velit laboriosam repudiandae rem delectus. </p>
            <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam veritatis qui nihil quo obcaecati, ad
                quod blanditiis? Illo quibusdam dolor, minima alias nostrum ab soluta assumenda pariatur at veniam
                nobis.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum reiciendis quisquam velit numquam, dolorum
                quasi ea repellendus molestiae, quas laborum voluptas officiis illo recusandae dolor?</p>

            <button type="submit"> To add </button>
        </div>

    </div>

</body>

</html>