<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Template 2 </title>
</head>

<body>
    <nav class="menu-example">
        <div class="menu-nav-example">
            <div class="user-example"> </div>
            <div class="search-bar-example"> </div>
            <div class="login-example-1"> </div>
            <div class="login-example-2"> </div>
        </div>
    </nav>

    <div class="content">
        <div class="image-1"> </div>
        <div class="image-2"> </div>
        <div class="image-3"> </div>
        <div class="image-4"> </div>
        <div class="image-5"> </div>
        <div class="image-6"> </div>
        <div class="image-7"> </div>
        <div class="image-8"> </div>
        <div class="image-9"> </div>
        <div class="image-10"> </div>
        <div class="image-11"> </div>
        <div class="image-12"> </div>
        <div class="image-13"> </div>
    </div>

</body>

</html>