<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title> Template 1 </title>
</head>

<body>

    <!-- left main content -->

    <div class="main">
        <div class="image-main"> </div>
        <div class="text-main">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo cumque vero temporibus perspiciatis,
            <p> consectetur doloribus! Distinctio eaque itaque quasi? Quam assumenda quidem enim velit, distinctio
                aliquam reprehenderit maxime officiis consequuntur qui eligendi. </p>
            <p> Vero porro at quos corporis perspiciatis dicta
                animi. Impedit, deleniti ipsum et at saepe laborum id laboriosam cum!</p>
        </div>
    </div>
    <!-- right content -->
    <div class="content-1">
        <div class="title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quidem.</div>
        <div class="caption"> Lorem ipsum dolor sit amet consectetur. </div>
        <div class="set-of-images">
            <div class="image"> </div>
            <div class="image"> </div>
            <div class="image"> </div>
            <div class="image"> </div>
        </div>

        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga perferendis eligendi quaerat odit, rem qui
            facilis voluptas ullam accusamus aperiam amet totam tenetur harum, molestiae quae consequatur animi nostrum
            reprehenderit quod beatae! Adipisci dolores quidem soluta voluptate eligendi in, animi natus ipsa, tempora
            corporis quibusdam, error iure reprehenderit at illum deleniti maiores dignissimos quia amet suscipit.</p>
    </div>
    <div class="content-2">
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>

        <p> Dolore iste perferendis nostrum. Dolores alias
            quo, ex dolor consectetur aperiam? Eveniet laboriosam culpa inventore ut? Autem numquam illo omnis ut
            corporis, ab est aut quae voluptates atque facere unde. </p>

        <div class="image-content"> </div>
    </div>

</body>

</html>