* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 400px;
    height: 800px;
    margin: 20px 0 0 20px;
    float: left;
}

.image-main {
    width: 350px;
    height: 450px;
    background-color: grey;
    margin: 20px auto;
}

.text-main > p {
    width: 350px;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 25px;
    margin: 0 0 20px 25px;
}

.content-1 {
    width: 65%;
    height: 500px;
    float: right;
    margin: 45px 40px 0 0;
}

.title {
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.caption {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
}

.set-of-images {
    width: 900px;
    height: 180px;
    margin: 50px 0;
}

.image {
    width: 205px;
    height: 180px;
    margin-right: 18px;
    float: left;
    background-color: grey;
}

.content-1 > p {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
}

.content-2 {
    width: 65%;
    height: 270px;
    float: right;
    margin: 10px 40px 0 0;
}

.content-2 > p {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin: 10px 0;
}

.image-content {
    width: auto;
    height: 140px;
    background-color: grey;
}