<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c733001182.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title> Template 6 </title>
</head>

<body>

    <div class="content-main">
        <div class="box-main"> <i class="fas fa-shopping-cart"></i> </div>
        <div class="box"> </div>
        <div class="box"> </div>
        <div class="box"> </div>
    </div>

    <div class="content-info">
        <div class="title-info">
            <p> Lorem ipsum dolor </p>
            <p> Lorem ipsum dolor sit amet consectetur </p>
            <span> $00.00 </span>
        </div>
        <div class="description">
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor recusandae omnis beatae saepe alias,
                deserunt consequatur sed officia ea ut necessitatibus cum ex quo temporibus magni minima, doloremque
                blanditiis error explicabo iure. Atque expedita asperiores rem! Perspiciatis ipsum rerum aspernatur quod
                nulla facilis aliquid voluptatum corrupti voluptas! Expedita, mollitia officia.</p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis necessitatibus eius maxime eum aliquid!
                Nihil doloremque nulla vero fuga incidunt illo quis eius, illum expedita quaerat tenetur voluptatem amet
                dicta sed et voluptate, ea sequi aperiam mollitia error cum rem? Eos, nesciunt suscipit maiores tempore
                fugit blanditiis corrupti ad totam.</p>

            <button type="submit"> To add </button>

            <div class="description-rodape"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit in alias
                ipsum minima facilis corrupti aspernatur ratione deleniti quidem laboriosam!
            </div>
        </div>
    </div>

</body>

</html>